<ion-view view-title="Intro" hide-nav-bar="true" style="background-color: #FF6B6B;color: white;text-align: center;">
    <ion-content class="padding">
        <!-- Show login button -->
        <h1 style="color:white;">FriendsETA</h1>
        <p>Always know how far away your Facebook friends are, without revealing your locations.
        </p>
        <!--<div class="padding">-->
            <!--<div style="border: 1px solid red;padding: 10px 15px; overflow: auto;border-radius:5px;">-->

                <!--<img style="width:40px;float:left;border-radius:50px;margin-right: 10px;"-->
                     <!--src="https://scontent-lax3-1.xx.fbcdn.net/hphotos-frc3/v/t1.0-9/10616375_10152367709402615_5025993933117187205_n.jpg?oh=7aeb2b526d7a93ab8e1c48aa024502d9&oe=56FCDD62"-->
                     <!--alt=""/>-->

                <!--<div style="overflow:auto">-->
                    <!--<p style="font-weight: bold;margin-bottom:0;">Craig McNamara</p>-->
                    <!--<p>5 minutes away</p>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->

        <button class="button button-block button-light" ng-click="vm.next()">
            Get Started
        </button>
    </ion-content>
</ion-view>