<ion-view view-title="Facebook Friends" class="onboarding">
    <ion-content style="padding: 20px;color:#556270;">

        <h1 style="font-weight:400;margin: 0;margin-bottom:10px;font-size:24px;">
            You Did It!
        </h1>
        <p style="font-size:18px;font-weight:lighter;line-height: 1.4">
            We are just setting up some stuff. Won't be long!
        </p>
        <p style="text-align: center;">
            <img src="img/animat-customize-color.gif" alt="" style="max-width:70%;"/>
        </p>
    </ion-content>
</ion-view>