<ion-view view-title="Facebook Friends" class="onboarding">
    <ion-content style="padding: 20px;color:#556270;" >

        <div style="margin-top: -120px;">
            <!-- Show login button -->
            <h1 style="font-weight:400;margin: 0;margin-bottom:10px;font-size:24px;">
                Find Your Friends
            </h1>

            <p style="font-size:18px;font-weight:lighter;line-height: 1.4">
                We let you know how far away your Facebook Friends are that use this app.
            </p>
            <p style="opacity:0.7;">We won't ever share your location, just your ETA - far less creepy.</p>
        </div>
    </ion-content>
    <div style="position: absolute; bottom: 0px; width: 100%">
        <div style="text-align: center;padding:10px 20px;">
            <button class="button button-block button-calm" ng-click="vm.login()">Login with Facebook</button>
            <p style="opacity: 0.5;">Don't worry, we won't post stuff on your Facebook. We hate that too!</p>
        </div>
    </div>

</ion-view>