/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$positive: #FF6B6B;
$balanced: #4ECDC4;
$calm: #3B5998;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.onboarding {
  .scroll-content {
    display: table !important;
    width: 100% !important;
    height: 100% !important;
  }
  .scroll {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  text-align: center;
}

.eta-badge {
  width: 65px;
  height: 40px;
  background-color: #eee;
  position: absolute;
  top: 16px;
  right: 16px;
  border-radius: 3px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;

  &.towards {
    background-color: $balanced;
    color: white;
  }
  &.away {
    background-color: lightblue;
  }
}
