
<ion-view view-title="Intro" hide-nav-bar="true"
          style="background-color: #4ECDC4;color: white;" class="onboarding">
    <ion-content class="padding">
        <style>

        </style>
        <!-- Show login button -->
        <div style="margin-top: -30px;">
            <div>
                <!--<img src="http://cmcnamara87.github.io/friends-eta-ionic/img/icon.png" alt="" style="width:70px;margin-bottom: 10px;"/>-->
            </div>

            <h1 style="color:white;font-weight:400;margin: 0;margin-bottom:10px;font-size:24px;">FriendsETA</h1>

            <div class="padding">
                <p style="font-size:18px;font-weight:lighter;line-height: 1.4">Always know how far away your Facebook friends are, without revealing your locations.
                </p>
            </div>

            <div class="padding" style="margin-top:10px;">
                <p style="font-weight: bold;margin-bottom:10px;font-size:14px;">Just like this!</p>
                <p style="opacity:1">💁 Where is Ankith? Should we just order?</p>
                <div style="text-align:left;border: 1px solid #1db2b2;padding: 15px 15px; overflow: auto;border-radius:5px;background-color:white;color:#8093a8;">

                    <img style="width:40px;float:left;border-radius:50px;margin-right: 10px;"
                         src="http://cmcnamara87.github.io/friends-eta-ionic/img/ankith.jpg"
                         alt=""/>

                    <div style="overflow:auto">
                        <p style="font-weight: bold;margin-bottom:0;">Ankith Honda</p>
                        <p style="margin:0;">🚗 15 minutes away</p>
                    </div>
                </div>
                <p style="opacity:1;margin-top:10px;">👨 15 mins? He is always late, lets order!</p>
            </div>

            <p>
                <!--<img src="img/map-1.png" alt="" style="position:absolute;top:-10px;left:-10px;right:-10px;bottom:0;opacity:0.2;z-index:-1;"/>-->
            </p>
        </div>
    </ion-content>
    <!-- align to the bottom of the page -->
    <div style="position: absolute; bottom: 0px; width: 100%">
        <div style="text-align: center;padding:10px 20px;">
            <button class="button button-block button-positive" ng-click="vm.next()" >
                Get Started
            </button>
        </div>
    </div>
</ion-view>