<ion-view view-title="Account">
    <ion-content>

        <div class="list">
            <div class="item">
                <button class="button button-balanced button-block" ng-click="vm.logout()">
                    Logout
                </button>
            </div>
            <a class="item" ng-click="vm.autoupdate.check()">
                <h2>
                    {{ vm.autoupdate.state }}
                </h2>
                <p>
                    App Status
                </p>
            </a>
            <i class="item">
                App Icon - Time Flies by Andreas Wikström from the Noun Project.
            </i>
        </div>

    </ion-content>
</ion-view>
